<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- <link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet"/> -->
    <link href="/src/main/resources/static/css/toppage.css" rel="stylesheet">

    <title>Top ページ</title>
  </head>
  <body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-dark">フヤカケ</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">本田圭佑</div>
            </div>
        </header>
        <div class="nav-scroller py-1 mb-2">
          <nav class="nav d-flex justify-content-between">
            <a class="p-2 link-secondary">トップページ</a>
            <a class="p-2 link-secondary">消費一覧</a>
            <a class="p-2 link-secondary">口座一覧</a>
            <a class="p-2 link-secondary">予算</a>
          </nav>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <a>&lt;</a>
          2022/01
          <a>&gt;</a>
          <!-- 収入情報 -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">収入</th>
                <th scope="col" th:text="${model.totalIncom}">円</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="element : ${model.incomInfoList}">
                <th scope="row"></th>
                <td>[[${element.categoryName}]]</td>
                <td>[[${element.price}]]</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-6">
          利益
          <!-- 投資情報 -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">投資</th>
                <th scope="col" th:text="${model.totalInvestment}"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="element : ${model.investmentList}">
                <th scope="row"></th>
                <td>[[${element.categoryName}]]</td>
                <td>[[${element.price}]]</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <!-- 消費情報 -->
          <table id="ConsumptionTable" class="table">
            <thead>
              <tr>
                <th scope="col">消費</th>
                <th id="TotalConsumption" scope="col" th:text="${model.totalConsumption}"></th>
                <th scope="col"><a href="#">消費一覧</a></th>
              </tr>
            </thead>
            <tbody id="ConsumptionTBody">
              <tr th:each="element : ${model.consumptionList}">
                <th scope="row"></th>
                <td>[[${element.categoryName}]]</td>
                <td>[[${element.price}]]</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-6">
          <!-- 自己投資 -->
          <table id="SelfInvestmentTable" class="table">
            <thead>
              <tr>
                <th scope="col">自己投資</th>
                <th id="TotalSelfInvestment" scope="col" th:text="${model.totalSelfInvestment}"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="element : ${model.selfInvestmentList}">
                <th scope="row"></th>
                <td>[[${element.categoryName}]]</td>
                <td>[[${element.price}]]</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <!-- 利益 -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">利益</th>
                <th scope="col">53,000</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>投資</td>
                <td>33,000</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>貯金</td>
                <td>20,000</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-6">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">保有資産</th>
                <th scope="col">1,000,000円</th>
                <th scope="col"><a href="#">保有資産閲覧</a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">現金</th>
                <td>800,000</td>
                <td>80%</td>
              </tr>
              <tr>
                <th scope="row">投資信託</th>
                <td>200,000円</td>
                <td>20%</td>
              </tr>
              <tr>
                <th scope="row">債権</th>
                <td>100円</td>
                <td>20%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <!-- <button id="InputButton" class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#inputModal">入力</button> -->
        <button id="InputButton" class="btn btn-primary" type="button">入力</button>
      </div>
      <div class="modal fade" id="inputModal" tabindex="-1" aria-labelledby="InputModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 id="InputModalLabel" class="modal-title">家計簿入力</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  id="ConsumptionLink"
                  class="nav-link active"
                  data-bs-toggle="tab"
                  data-bs-target="#ConsumptionModal"
                  type="button"
                  role="tab"
                  aria-controls="consumption"
                  aria-selected="true"
                >
                  消費
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  id="IncomLink"
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#IncomModal"
                  type="button"
                  role="tab"
                  aria-controls="incom"
                  aria-selected="true"
                >
                  収入
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  id="InvestmentLink"
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#InvestmentModal"
                  type="button"
                  role="tab"
                  aria-controls="investment"
                  aria-selected="true"
                >
                  投資
                </button> 
              </li>
              <li class="nav-item" role="presentation">
                <button
                  id="SelfInvestmentLink"
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#SelfInvestmentModal"
                  type="button"
                  role="tab"
                  aria-controls="selfInvestment"
                  aria-selected="true"
                >
                  自己投資
                </button>
              </li>
            </ul>
            <div class="tab-content">
              <!-- 消費情報入力モーダル -->
              <div id="ConsumptionModal" class="tab-pane fade show active">
                <div class="modal-body">
                  <div class="form-floating mb-3">
                    <input id="ConsumptionDateInput" type="date" class="form-control">
                    <label for="ConsumptionDateInput">日付</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input id="ConsumptionMoneyInput" type="number" class="form-control">
                    <label for="ConsumptionMoneyInput">金額</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select id="ConsumptionAccountInput" class="form-select" aria-label="Default select example">
                      <option value="1">財布</option>
                      <option value="2">oo銀行</option>
                      <option value="3">xx銀行</option>
                    </select>
                  </div>
                  <div class="row">
                    <div class="form-floating mb-3 col">
                      <select id="ConsumptionBigCategoryInput" class="form-select" aria-label="Default select example">
                        <option value="1">食費</option>
                        <option value="2">日用品</option>
                        <option value="3">趣味・娯楽</option>
                      </select>
                    </div>
                    <div class="form-floating mb-3 col">
                      <select id="ConsumptionMiddleCategoryInput" class="form-select" aria-label="Default select example">
                        <option value="1">外食</option>
                        <option value="2">朝ご飯</option>
                        <option value="3">昼ごはん</option>
                      </select>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="ConsumptionMemoTextarea" class="form-label">メモ</label>
                    <textarea id="ConsumptionMemoTextarea" class="form-control" rows="3"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                  <button id="ConsumptionSaveButton" type="button" class="btn btn-primary">保存</button>
                </div>
              </div>
              <!-- 収入情報入力モーダル -->
              <div id="IncomModal" class="tab-pane fade">
                <h6>収入</h6>
                <div class="modal-body">
                  <div class="form-floating mb-3">
                    <input id="IncomDateInput" type="date" class="form-control">
                    <label for="IncomDateInput">日付</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input id="IncomMoneyInput" type="number" class="form-control">
                    <label for="IncomMoneyInput">金額</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select id="IncomAccountInput" class="form-select" aria-label="Default select example">
                      <option value="1">財布</option>
                      <option value="2">oo銀行</option>
                      <option value="3">xx銀行</option>
                    </select>
                  </div>
                  <div class="row">
                    <div class="form-floating mb-3 col">
                      <select id="IncomBigCategoryInput" class="form-select" aria-label="Default select example">
                        <option value="1">食費</option>
                        <option value="2">日用品</option>
                        <option value="3">趣味・娯楽</option>
                      </select>
                    </div>
                    <div class="form-floating mb-3 col">
                      <select id="IncomMiddleCategoryInput" class="form-select" aria-label="Default select example">
                        <option value="1">外食</option>
                        <option value="2">朝ご飯</option>
                        <option value="3">昼ごはん</option>
                      </select>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="IncomMemotextarea" class="form-label">メモ</label>
                    <textarea id="IncomMemotextarea" class="form-control" rows="3"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                  <button id="IncomSaveButton" type="button" class="btn btn-primary">保存</button>
                </div>
              </div>
              <!-- 投資情報入力モーダル -->
              <div id="InvestmentModal" class="tab-pane fade">
                <h6>投資</h6>
                <div class="modal-body">
                  <div class="form-floating mb-3">
                    <input id="InvestmentDateInput" type="date" class="form-control">
                    <label for="InvestmentDateInput">日付</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input id="InvestmentMoneyInput" type="number" class="form-control">
                    <label for="InvestmentMoneyInput">金額</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select id="InvestmentAccountInput" class="form-select" aria-label="Default select example">
                      <option value="1">財布</option>
                      <option value="2">oo銀行</option>
                      <option value="3">xx銀行</option>
                    </select>
                  </div>
                  <div class="row">
                    <div class="form-floating mb-3 col">
                      <select id="InvestmentBigCategoryInput" class="form-select" aria-label="Default select example">
                        <option value="1">食費</option>
                        <option value="2">日用品</option>
                        <option value="3">趣味・娯楽</option>
                      </select>
                    </div>
                    <div class="form-floating mb-3 col">
                      <select id="InvestmentMiddleCategoryInput" class="form-select" aria-label="Default select example">
                        <option value="1">外食</option>
                        <option value="2">朝ご飯</option>
                        <option value="3">昼ごはん</option>
                      </select>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="InvestmentMemotextarea" class="form-label">メモ</label>
                    <textarea id="InvestmentMemotextarea" class="form-control" rows="3"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                  <button id="InvestmentSaveButton" type="button" class="btn btn-primary">保存</button>
                </div>
              </div>
              <!-- 自己投資情報入力モーダル -->
              <div id="SelfInvestmentModal" class="tab-pane fade">
                <h6>自己投資</h6>
                <div class="modal-body">
                  <div class="form-floating mb-3">
                    <input id="SelfInvestmentDateInput" type="date" class="form-control">
                    <label for="SelfInvestmentDateInput">日付</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input id="SelfInvestmentMoneyInput" type="number" class="form-control">
                    <label for="SelfInvestmentMoneyInput">金額</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select id="SelfInvestmentAccountInput" class="form-select" aria-label="Default select example">
                      <option value="1">財布</option>
                      <option value="2">oo銀行</option>
                      <option value="3">xx銀行</option>
                    </select>
                  </div>
                  <div class="row">
                    <div class="form-floating mb-3 col">
                      <select id="SelfInvestmentBigCategoryInput" class="form-select" aria-label="Default select example">
                        <option value="1">食費</option>
                        <option value="2">日用品</option>
                        <option value="3">趣味・娯楽</option>
                      </select>
                    </div>
                    <div class="form-floating mb-3 col">
                      <select id="SelfInvestmentMiddleCategoryInput" class="form-select" aria-label="Default select example">
                        <option value="1">外食</option>
                        <option value="2">朝ご飯</option>
                        <option value="3">昼ごはん</option>
                      </select>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="SelfInvestmentMemotextarea" class="form-label">メモ</label>
                    <textarea id="SelfInvestmentMemotextarea" class="form-control" rows="3"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                  <button id="SelfInvestmentSaveButton" type="button" class="btn btn-primary">保存</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> -->

    <!-- Option 3: Boostrap & jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script th:src="@{/js/toppage.js}"></script>
    <!-- webjar -->
    <!-- <script th:href="@{/webjars/jquery/3.6.0/js/jquery.min.js}"></script> -->
    <!-- <script th:href="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script> -->
  </body>
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</html>